 <!-- Contenido del sitio -->
    <div class="container">

       <!-- Primera Parte -->
        <div class="row">
            <div class="col-md-12">
                  <div class="page-header">
				 		 <h1>Equipo Corporativo<small> The Empire</small></h1>
				  </div>
                </a>
            </div>

        </div>   
            <div class="col-md-12">
				               
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicadores -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel" data-slide-to="1"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">

					    <div class="item active">
					      <img src="https://ugc.kn3.net/i/origin/https://wallpaperscraft.com/image/dubai_uae_buildings_skyscrapers_night_96720_3840x2160.jpg">
					      <div class="carousel-caption">
					        <h3>Aca va el textoque se quiere colocar</h3>
					      </div>
					    </div>

					    <div class="item">
					      <img src="http://wscreenwallpapers.com/wp-content/uploads/2015/02/london-4k-wallpaper-93.jpg">
					      <div class="carousel-caption">
					        <h3>Texto 2</h3>
					      </div>
					    </div>
					  
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only"></span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only"></span>
					  </a>
				</div>
				              
			</div>

        </div>
       
        <hr>

        

    </div>