 <!-- Contenido del sitio -->
 <div class="container-fluid">   
	    <div class="page-header">
	 		 <h1 class="titulo1 t1 col-xs.12">Código de Ética<small> The Empire</small></h1>
		</div>
       <!-- Primera Parte -->
        <div class="row">
        	<% @ethics.each do |ethic| %>
        		<div class="container">
	        	
	        		<p><%= ethic.desc %></p>
	        		
         		</div>
         	<% end %>
        </div>
        <!-- /.row -->
        
   
</div>