<div class="container-fluid">
	<div class="row">
		<div class="parallax-reportes">
			<h1 class="titulo1 t1">Reportes</h1>
		</div>
	</div>

	<div class="row">
		<div class="center">
			<h1 class="col-xs-12 col-md-12">Buscar Reporte</h1>
		</div>
	</div>
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-4">
				 <img class="responsive" src="https://via.placeholder.com/200x100">
				 <h2>Nombre Reporte</h2>
		</div>
		<div class="col-xs-12 col-md-4">
				 <img src="https://via.placeholder.com/200x100">
				 <h2>Nombre Reporte</h2>
		</div>
		<div class="col-xs-12 col-md-4">
				 <img src="https://via.placeholder.com/200x100">
				 <h2>Nombre Reporte</h2>
		</div>
		<div class="col-xs-12 col-md-4">
				 <img src="https://via.placeholder.com/200x100">
				 <h2>Nombre Reporte</h2>
		</div>
		<div class="col-xs-12 col-md-4">
				 <img src="https://via.placeholder.com/200x100">
				 <h2>Nombre Reporte</h2>
		</div>
	</div>
</div>
</div>