<div class="container-fluid">

  	<div class="row">
    	<div class="parallax2">

    	 	<h1 class="titulo1 t1 color-titulo">Zona de Trading</h1>

      </div>
     </div>
     <div class="row">
      <h1 class="titulo1 t2 col-xs-12">Ultimos Hechos</h1>
     </div>
	<div class="row">
        
        <div class="col-xs-12 col-md-6">
              <%= image_tag ("https://www.salondetrading.com/wp-content/uploads/2017/06/trading-que-es-como-funciona.jpg"), class: "img-responsive" %>
                
      	</div>


      	<div class="col-xs-12 col-md-6">
				               
				<%= image_tag ("http://true-trend.ru/wp-content/uploads/2017/03/plattorg.jpg"), class: "img-responsive" %>
	  	</div>

    </div>
 <hr>	
   
    <div class="row">
    	
       <div class="col-md-4">
   		    <div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
			</div>
  	  </div>
  	    <div class="col-md-4">
   		    <div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ChOhcHD8fBA"></iframe>
			</div>
  	  </div>
  	    <div class="col-md-4">
   		    <div class="embed-responsive embed-responsive-16by9">
			    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/uzpxrx7NZBA"></iframe>
			</div>
  	  </div>

    </div>

      <hr>

      
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contactanos</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Nombre</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="En Construcción..." class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Tu E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="En Construcción..." class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Tu Mensaje</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="En Construcción..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <%= link_to "Enviar", pages_about_path, type: 'button', class: 'btn btn-primary' %>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>

</div>