#slide1{
  background: url('Inicio.jpg') 50% 0 no-repeat fixed;
   /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}